<IfModule mod_rewrite.c>
Options +FollowSymLinks -Indexes

RewriteEngine On

RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php?l=$1 [L]
RewriteRule ^([a-zA-Z0-9_\-]+)$ index.php?l=$1 [L]
RewriteRule ^blog-post/([a-zA-Z0-9_\-]+)$ index.php?l=blog-post&id=$1 [NC,L]
RewriteRule ^blogg/([a-zA-Z0-9_\-]+)$ index.php?l=blogg&cat=$1 [NC,L]
</IfModule>