<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
		  <rules>
			<!--#RewriteRule ^(.*)$ index.php?l=$1 [L]-->
			<rule name="Imported Rule 1" stopProcessing="true">
			  <match url="^([a-zA-Z0-9_\-]+)$" ignoreCase="false" />
			  <conditions>
				<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
			  </conditions>
			  <action type="Rewrite" url="index.php?l={R:1}" appendQueryString="false" />
			</rule>
			<!-- RewriteRule ^blog-post/([a-zA-Z0-9_\-]+)$ index.php?l=blog-post&id=$1 [NC,L] -->
			<rule name="rule 1Z" stopProcessing="true">
				<match url="^blog-post/([a-zA-Z0-9_\-]+)$" ignoreCase="true" />
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
			  	</conditions>
				<action type="Rewrite" url="index.php?l=blog-post&amp;id={R:1}" appendQueryString="false" />
			</rule>
			<!-- RewriteRule ^blogg/([a-zA-Z0-9_\-]+)$ index.php?l=bloggt&cat=$1 [NC,L] -->
			<rule name="rule 1X" stopProcessing="true">
				<match url="^blogg/([a-zA-Z0-9_\-]+)$" ignoreCase="true" />
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
			  	</conditions>
				<action type="Rewrite" url="index.php?l=blogg&amp;cat={R:1}" appendQueryString="false" />
			</rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>



